---
layout: page
title: Fred
hero_height: is-small
---

<!--
    This is based on https://github.com/chrisrhymes/bulma-clean-theme/blob/5efd9b84fb5f727f5918a5a3e60036c2d058772d/_layouts/product.html
-->

    <div class="content">
        

        {{ content }}


        {% if page.call_link != "NONE" %}
            <a href="{{ page.call_link | relative_url }}?subject=Information about {{page.title}}" class="button is-primary is-medium">{{ page.call_text }}</a>
        {% endif %}

        <br><br>Back to <a href="{{page.backlink}}"><strong>Our {{page.backname}}</strong></a>
    </div>


    
    


</div>

